<h2 class="text-center">
  Todo App
</h2>
<div class="col-md-6 offset-md-2">
<form [formGroup]="todoForm" class="form-control">
  Name: <input type="text" formControlName="name" class="col-md-6">
  <span *ngIf="todoForm.get('name')?.invalid && todoForm.get('name')?.touched"
        class="text-danger err-msg">Name khong duoc lon hon 50 ky tu</span>
  <br>
  Description: <input type="text" formControlName="description" class="col-md-6">
  <span *ngIf="todoForm.get('description')?.invalid && todoForm.get('description')?.touched"
        class="text-danger err-msg">Description khong duoc lon hon 200 ky tu</span>
  <br>
  End of date: <input type="date" formControlName="deadline" class="col-md-6">
  <ng-container *ngIf="todoForm.get('deadline')?.touched" >
    <span
      *ngIf="todoForm.hasError('isValidDate')"
      class='text-danger err-msg'
    >Deadline phải lớn hơn ngày hiện tại</span>
  </ng-container>
<!--  <span *ngIf="todoForm.get('deadline') && todoForm.get('description')?.touched"-->
<!--        class="text-danger err-msg">Deadline khong duoc lon hon ngay hien tai</span>-->
  <br>
  <ng-container *ngIf="todoForm.get('id')?.value; else create">
    <input type="button" (click)="createTodo()" value="Update">
  </ng-container>
  <ng-template #create>
    <input type="button" (click)="createTodo()" value="Create">
  </ng-template>
</form>
</div>
